<!DOCTYPE html>
<html>
<body>
<section>
    <div flash-message="5000" ></div>

    <p>Podaj tytuł książki:</p>
    <input type="text" ng-model="prefix">
    <button ng-click="search()">Szukaj</button>
    <button ng-click="addBook()">Dodaj książkę</button>

    <table ng-show="books.length > 0">
        <tr>
            <th>Tytuł</th>
            <th>Autorzy</th>
            <th>Akcje</th>
        </tr>
        <tr ng-repeat="book in books">
            <td>{{ book.title }}</td>
            <td>
	            <div ng-repeat="author in book.authors">
	            	{{ author.firstName }} {{ author.lastName }}
	            </div>
            </td>
            <td>
            	<a ><span class="glyphicon glyphicon-eye-open"/></a>
            	<a ng-click="editBook($index)"><span class="glyphicon glyphicon-pencil"/></a>
                <a ng-click="deleteBook(book.id)"><span class="glyphicon glyphicon-remove"/></a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>